**/__pycache__/
**/.pytest_cache/
**/.venv/
/mam_reactor/data/
**/runs/
**/checkpoints/
**/pretrained_models/
**/assets/
**/results/
**/local_backups/
**/external/
*.pth
*.pt
*.npy
*.npz
*.mp4
*.wav
*.log
*.pem
*.key
.env
